<div class="inbox-body" *ngIf="articles">
    <div class="mail-option">
        <div class="chk-all">
            <input type="checkbox" class="mail-checkbox mail-group-checkbox" [(ngModel)]="isCheckAll" #checkbox (click)="checkAll(checkbox.checked)">
            <div class="btn-group">
                <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                         All
                                         <i class="fa fa-angle-down "></i>
                                     </a>
                <ul class="dropdown-menu">
                    <li><a href="#" (click)="unCheckAll()"> None</a></li>
                    <li><a href="#" (click)="checkRead()"> Read</a></li>
                    <li><a href="#" (click)="checkUnRead()"> Unread</a></li>
                </ul>
            </div>
        </div>

        <div class="btn-group hidden-phone">
            <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                     More
                                     <i class="fa fa-angle-down "></i>
                                 </a>
            <ul class="dropdown-menu">
                <li><a href="#" (click)="makeCheckedRead()"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                <li class="divider"></li>
                <li><a href="#" (click)="deleteChecked()"><i class="fa fa-trash-o"></i> Delete</a></li>
                <li class="divider"></li>
                <li><a href="#" (click)="sort(sortRule.ByNewest)"><i class="fa fa-sort"> Sort by Newest</i></a></li>
                <li><a href="#" (click)="sort(sortRule.ByRead)"><i class="fa fa-sort"> Sort by Read</i></a></li>
                <li><a href="#" (click)="sort(sortRule.ByABC)"><i class="fa fa-sort"> Sort by ABC</i></a></li>
            </ul>
        </div>
        
        <ul class="unstyled inbox-pagination">
                            <li><span>{{count}}</span></li>
                        </ul>

    </div>
    <div class="article-container">
        <table class="table table-inbox table-hover">
            <tbody>
                <tr *ngFor="let article of articles" class="unread" [class.unread]="!article.isRead">
                    <td class="small-cells">
                        <input type="checkbox" class="mail-checkbox" [(ngModel)]="article.checked">
                    </td>
                    <td class="small-cells"><i class="fa fa-star"></i></td>
                    <td colspan="3" class="large-cells"><a href="{{article.link}}" target="_blank" (click)="makeRead(article)">{{article.title}}</a></td>
                    <td class="text-right">{{article.getDate()}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
